html {
    font-size: 20px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

header {
    background-color: #778F89;
}

main {
    min-height: calc(100vh - 5.4rem);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.barraLateral {
    width: 20vw;
    padding: 0 1.5rem;
    background-color: #BCD8C9;
}

.dash {
    padding: 0 1.5rem;
    width: 80vw;
    background-color: #b0bacf;
}

header {
    padding: 1rem;
    font-size: 2.5rem;

}

.quickTasks {
    display: flex;
    flex-direction: column;
}

.qa {
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    background-color: #778f89;
    border-radius: 5px;
    font-weight: 600;
}

.newProBtn {
    background-color: #b0bbcf;

}

.newProBtn:hover {
    background-color: rgb(123, 130, 138);

}

.projHeaders {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newTask {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 100px;
    aspect-ratio: 1/1;
    background-color: rgb(119 143 137);
    border-radius: 50%;
    opacity: 0.6;
    transition: 0.2s;
}

.newTask:hover {
    opacity: 1;
    transform: rotate(180deg);
    transition: 0.25s;

  }
.newTask:before, .newTask:after {
    position: absolute;
    left: 45%;
    top: 20%;
    content: ' ';
    height: 60px;
    width: 10px;
    background-color: rgb(0, 0, 0);
}
.newTask:before {
    transform: rotate(90deg);
}

.newItemDiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0000008a;
}

.newItemForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}

.newItemForm > * {
    margin: 0.5rem 0;
}

.formContainer {
    padding: 0 2rem 1rem 2rem;
    background-color: hsl(0deg 0% 16%);
    border-radius: 5px;
    color: #eeeeee;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #545454;
    background-image: none;
    cursor: pointer;
    padding: 10px;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }

  .colorBox {
      width: 12%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      margin: 0.2rem 1rem;
  }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type="color"] {
	display: block;
	width: 32px;
	height: 32px;
	border: none;
    margin-right: 0;
    margin-left: 0;
    border-radius: 5px;
}

input:focus-visible {
    outline-color: transparent;
}

.newItemButton {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
}

.colorDiv {
    display: flex;
    align-items: center;
}

.colorDiv > label {
    margin-right: 1rem;
}

.projectList {
    display: flex;
    flex-direction: column;
}

.projItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1rem;
    border-bottom: 1px solid #778f89;
}

.projItem:hover {
    background-color: #90aaa3;
}

.tasksList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #7189b5
}

.taskItem:hover {
    background-color: #94a2bb
}

.taskItem>div>span {
    padding: 0.5rem;
}

.taskTitle {
    font-weight: 600;
}

.taskDescription {
    font-weight: 300;
}