html {
    font-size: 20px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

header {
    background-color: #778F89;
}

main {
    height: calc(100vh - 5.4rem);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.barraLateral {
    width: 20vw;
    padding: 0 1.5rem;
    background-color: #BCD8C9;
}

.dash {
    padding: 0 1.5rem;
    width: 80vw;
    background-color: #b0bacf;
}

header {
    padding: 1rem;
    font-size: 2.5rem;

}

.quickTasks {
    display: flex;
    flex-direction: column;
}

.qa {
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    background-color: #778f89;
    border-radius: 5px;
    font-weight: 600;
}

.grey {
    background-color: #BEC8D4;
}

.projHeaders {
    display: flex;
    align-items: center;
    justify-content: space-between;
}